---
layout: ""
page_title: "Provider: Google Drive"
description: ](-
  The Google Drive provider can manage Google Drive files / folders, Shared Drives and permissions
---

# Google Drive provider

## Setup
First, you need a GCP Service Account with [Domain Wide Delegation](https://support.google.com/a/answer/162106) set up with the Google Drive scope.

This provider uses [GSM](https://github.com/hanneshayashi/gsm)'s auth and drive packages.
You can take a look at the GSM [Setup Guide](https://gsm.hayashi-ke.online/setup), if you need help.

The basic steps are:
1. Create GCP Project
2. Enable Drive API
3. Create Service Account + Enable Domain Wide Delegation
    * See [Perform Google Workspace Domain-Wide Delegation of Authority](https://developers.google.com/admin-sdk/directory/v1/guides/delegation)
    * **You don't need the Service Account Key if you want to use [Application Default Credential](https://cloud.google.com/iam/docs/best-practices-for-using-and-managing-service-accounts#use-attached-service-accounts)**
4. Enter the Client ID of the Service Account with the [Drive scope](https://developers.google.com/identity/protocols/oauth2/scopes#drive) (https://www.googleapis.com/auth/drive) in your Admin Console

You can authenticate in one of two ways:
1. Create a Service Account Key and configure the provider like so:
```terraform
provider "gdrive" {
  service_account_key = "/path/to/sa.json"  # This is the path to your Service Account Key file or its content in JSON format
  subject             = "admin@example.com" # This is the user you want to impersonate with Domain Wide Delegation
}
```
2. Use Application Default Credentials:
Activate the [IAM Service Account Credentials API](https://console.developers.google.com/apis/api/iamcredentials.googleapis.com/overview) *in the project where the Service Account is located*

   a) Use `gcloud auth application-default login` on your local workstation

   **or**

   b) Use a Google Compute Engine instance or [any service that supports attaching a Service Account in GCP](https://cloud.google.com/iam/docs/impersonating-service-accounts#attaching-new-resource)

In **both** cases, the account needs the *[Service Account Token Creator](https://cloud.google.com/iam/docs/service-accounts#token-creator-role)* role for the Service Account you set up for DWD (**even if your GCP service is using the same account**).

You can then configure the provider like so:

```terraform
provider "gdrive" {
  service_account     = "email@my-project.iam.gserviceaccount.com"  # This is the email address of your Service Account. You can leave this empty on GCP, if you want to use the service's account
  subject             = "admin@example.com"                         # This is the user you want to impersonate with Domain Wide Delegation
}
```

### Optional

#### Enable Management of Shared Drives in Organizational Units

**BEWARE! THE API AND THIS FEATURE ARE IN BETA AND MAY BREAK WITHOUT WARNING!**

If you want to organize your Shared Drives in organizational units with this provider, some additional setup is required:
1. Enable the Cloud Identity API in your GCP project
2. Add `https://www.googleapis.com/auth/cloud-identity.orgunits` as a scope to your Domain Wide Delegation config
3. Set `use_cloud_identity_api = true` in your provider configuration:

```terraform
provider "gdrive" {
  # ...
  use_cloud_identity_api = true
}
```

#### Enable Drive Label API

**Label assignments use the normal Drive API so no additional setup is required**

If you want to use Google Drive Labels (currently data sources only), some additional setup is required:
1. Enable the Drive Labels API in your GCP project
2. Add `https://www.googleapis.com/auth/drive.labels` as a scope to your Domain Wide Delegation config
3. Set `use_labels_api = true` in your provider configuration:

```terraform
provider "gdrive" {
  # ...
  use_labels_api = true
}
```

If you want to use "admin access" when working with labels, you also need to do the following:
1. Add `https://www.googleapis.com/auth/drive.admin.labels` as a scope to your Domain Wide Delegation config
2. Set `use_labels_admin_scope = true` in your provider configuration:

```terraform
provider "gdrive" {
  # ...
  use_labels_api         = true
  use_labels_admin_scope = true
}
```

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
